
.home-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
    text-align: center;
    padding-bottom: 50px; 
}

.welcome-text {
    font-size: 2.5rem;
    color: var(--neon-blue);
    text-shadow: 0 0 10px var(--neon-blue), 0 0 20px var(--neon-blue);
    margin-bottom: 50px;
    animation: pulse 2s infinite alternate; 
}

.start-button {
    background: transparent;
    border: 4px solid var(--neon-pink);
    color: var(--neon-pink);
    font-size: 2rem;
    padding: 15px 40px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0 15px var(--neon-pink), 0 0 30px var(--neon-pink);
    transition: box-shadow 0.3s ease-in-out;
    animation: neon-flicker 1.5s infinite alternate; /* Parpadeo más notorio */
}

.start-button:hover {
    color: white;
    background-color: var(--neon-pink);
    box-shadow: 0 0 20px var(--neon-pink), 0 0 40px var(--neon-pink), 0 0 80px var(--neon-pink);
}


@keyframes neon-flicker {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.85; } 
    52%, 54% { opacity: 0.2; } 
}


.credit-text {
    position: absolute;
    bottom: 20px;
    color: rgba(255, 255, 255, 0.3); 
    font-size: 0.6rem;
}