.nav {
    display: flex;
    justify-content: flex-end; 
    padding: 25px 0;
    background-color: rgba(0, 0, 0, 0.6); 
    width: 100%;
}


.link {
   
    display: inline-block; 
    margin: 0 15px;     
    padding: 10px 20px;
    

    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none; 
    text-transform: uppercase;
    transition: all 0.2s ease-in-out; 

    color: var(--neon-blue);
    border: 2px solid var(--neon-blue);
    box-shadow: var(--neon-shadow-blue);
}


.link:hover {
    color: var(--neon-pink);
    border-color: var(--neon-pink);
    box-shadow: 0 0 10px var(--neon-pink), 0 0 30px var(--neon-pink); /* Más brillo */
    transform: scale(1.05);
}